<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gowo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.CadastrarEnderecoActivity"
            android:parentActivityName=".activity.MeusEnderecosActivity">
        </activity>
        <activity
            android:name=".activity.Secundarias.AjudaActivity"
            android:parentActivityName=".activity.PerfilActivity" />
        <activity
            android:name=".activity.Secundarias.ConfiguracoesActivity"
            android:parentActivityName=".activity.PerfilActivity" />
        <activity
            android:name=".activity.Secundarias.InfoPessoaisActivity"
            android:parentActivityName=".activity.PerfilActivity" />
        <activity
            android:name=".activity.FeedCategoriaActivity"
            android:parentActivityName=".activity.HomeActivity" />
        <activity
            android:name=".activity.MeusServicosActivity"
            android:parentActivityName=".activity.PerfilActivity" />
        <activity
            android:name=".activity.CadastrarUsuarioActivity"
            android:parentActivityName=".activity.LoginActivity" />
        <activity
            android:name=".activity.CadastrarServicoActivity"
            android:parentActivityName=".activity.MeusServicosActivity" />
        <activity
            android:name=".activity.FeedPrestadorActivity"
            android:parentActivityName=".activity.FeedCategoriaActivity" />
        <activity
            android:name=".activity.ViewServicoActivity"
            android:parentActivityName=".activity.FeedPrestadorActivity" />
        <activity android:name=".activity.PerfilActivity" />
        <activity android:name=".activity.MeusEnderecosActivity" />
        <activity android:name=".activity.HomeActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity
            android:name=".activity.MainActivity"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>